<div class="btn-group btn-group-toggle" style="margin-bottom:20px" data-toggle="buttons">
    <label *ngIf="mode!='edit' && mode!='delete'" [className]="mode==='list' ? 'btn btn-primary active' : 'btn btn-outline-primary'"> <!--  class="btn btn-primary active"-->
        <input type="radio" autocomplete="off" (click)="_list()"> Tabel
    </label>
    <label *ngIf="mode!='edit' && mode!='delete'" [className]="mode==='add' ? 'btn btn-primary active' : 'btn btn-outline-primary'">
        <input type="radio" autocomplete="off" (click)="_add()"> Tambah
    </label>

    <!--jika sedang proses edit, maka tampilkan-->
    <label *ngIf="mode==='edit' || mode==='delete'" class="btn btn-primary active">
        <input type="radio" autocomplete="off" (click)="_list()"> Kembali
    </label>
</div>
    
<p><small>Mode: {{  mode }}, Complete: {{  complete }}</small></p>

<div *ngIf="complete === false"><img src="assets/loader.gif"></div>            

<ng-container *ngIf="mode==='delete'">
    <div class="alert alert-warning" role="alert">
        {{ info }}

        <p style="margin-top: 20px">
            <button class="btn btn-danger btn-sm" (click)="_delete()">Ya, hapus</button> &nbsp;
            <button class="btn btn-info btn-sm" (click)="_list()">Batal</button>
        </p>
    </div>
</ng-container>
<ng-container *ngIf="mode==='add'">
    <form [formGroup]="fg" type (ngSubmit)="_post(fg.value)">
        <h2>Peserta</h2>
        
        <p>
            <small>Form Values: {{  fg.value | json }}</small><br/>
            <small>Form Status: {{  fg.status }}</small>        
        </p>

        <div class="form-group">
            <label for="photo">Foto</label>
            <input type="file" (change)="_preview($event)" class="form-control"/>            
            <small class="form-text text-muted">Opsional</small>
            <img [src]="imgURL" height="200" *ngIf="imgURL" style="margin:10px 0px"><br/>
            <button  *ngIf="imgURL" (click)="_removeImage()" class="btn btn-danger btn-sm" >Hapus</button>    
        </div>
    
        <div class="form-group">
            <label for="name">Nama</label>
            <input type="text" formControlName="name" id="name" class="form-control" required/>        
            <small class="form-text text-muted">Harus terisi, minimal 3 karakter</small>
        </div>
    
        <div *ngIf="f.name.errors"><!-- kalo ada error munculkan -->
            <!-- touched = maksudnya sudah tersentuh atau sudah fokus oleh kursor -->
            <div class="alert alert-danger" *ngIf="f.name.touched && f.name.errors.required">name harus terisi</div>
            <div class="alert alert-warning" *ngIf="f.name.touched && f.name.errors.minlength">Minimal 3 karakter</div>
        </div>
    
        <div class="form-group">
            <label for="institution">Institusi</label>
            <input type="text" id="institution" formControlName="institution" class="form-control"/>
            <small class="form-text text-muted">Harus terisi, minimal 10 hingga 500 karakter</small>
        </div>

        <div *ngIf="f.institution.errors"><!-- kalo ada error munculkan -->
            <div class="alert alert-warning" *ngIf="f.institution.touched && f.institution.errors.required">Institusi belum diisi</div>
            <div class="alert alert-warning" *ngIf="f.institution.touched && f.institution.errors.minlength">institusi minimal 10 karakter</div>      
            <div class="alert alert-warning" *ngIf="f.institution.touched && f.institution.errors.maxlength">institusi maksimal 100 karakter</div>      
        </div>    
    
        <div class="form-group">
            <label for="whatsapp">Whatsapp</label>
            <input type="text" id="whatsapp" formControlName="whatsapp" class="form-control" maxlength="15"/>
            <small class="form-text text-muted">minimal 7 hingga 15 karakter</small>
        </div>

        <div *ngIf="f.whatsapp.errors"><!-- kalo ada error munculkan -->
            <!-- touched = maksudnya sudah tersentuh atau sudah fokus oleh kursor -->
            <div class="alert alert-danger" *ngIf="f.whatsapp.touched && f.whatsapp.errors.required">Nomer harus terisi</div>
            <div class="alert alert-warning" *ngIf="f.whatsapp.touched && f.whatsapp.errors.minlength">Minimal 7 karakter</div>
            <div class="alert alert-warning" *ngIf="f.whatsapp.touched && f.whatsapp.errors.maxlength">Maksimal 15 karakter</div>
        </div>
    
        <div class="form-group">
            <label for="phone">Telepon</label>
            <input type="text" id="phone" formControlName="phone" class="form-control" maxlength="15"/>
            <small class="form-text text-muted">minimal 7 hingga 15 karakter</small>
        </div>        
    
        <div *ngIf="f.phone.errors"><!-- kalo ada error munculkan -->
            <!-- touched = maksudnya sudah tersentuh atau sudah fokus oleh kursor -->
            <div class="alert alert-danger" *ngIf="f.phone.touched && f.phone.errors.required">Nomer harus terisi</div>
            <div class="alert alert-warning" *ngIf="f.phone.touched && f.phone.errors.minlength">Minimal 7 karakter</div>
            <div class="alert alert-warning" *ngIf="f.phone.touched && f.phone.errors.maxlength">Maksimal 15 karakter</div>
        </div>
    
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" formControlName="email" class="form-control"/>
        </div>

        <div *ngIf="f.email.errors"><!-- kalo ada error munculkan -->
            <!-- touched = maksudnya sudah tersentuh atau sudah fokus oleh kursor -->
            <div class="alert alert-danger" *ngIf="f.email.touched && f.email.errors.required">Email harus terisi</div>
            <div class="alert alert-warning" *ngIf="f.email.touched && f.email.errors.email">Format email perlu diperhatikan</div>
        </div>
    
        <!-- kalo tombol submit (ngSubmit) pakenya, kalo button pake (click) --> 
        <button class="btn btn-primary" [disabled]="fg.invalid">Submit</button>&nbsp;    
        <button class="btn btn-warning" (click)="_onReset()">Reset</button>    
        
        <ngb-alert style="margin-top: 20px" *ngIf="info != null" type="success" (close)="info = null">{{ info }}</ngb-alert>
    </form>           
</ng-container>

<ng-container *ngIf="mode==='edit'">
    <form [formGroup]="fg" (ngSubmit)="_update(fg.value)">
        <h2>Ubah Data Peserta</h2>
        
        <p>
            <small>Form Values: {{  fg.value | json }}</small><br/>
            <small>Form Status: {{  fg.status }}</small>        
        </p>
        
        <div class="form-group">
            <label for="photo">Foto</label>
            <input type="file" (change)="_preview($event)" class="form-control"/>            
            <small class="form-text text-muted">Opsional</small>
            <img [src]="imgURL" height="200" *ngIf="imgURL" style="margin:10px 0px"><br/>
            <button  *ngIf="imgURL" (click)="_removeImage()" class="btn btn-danger btn-sm" >Hapus</button>    
        </div>
    
        <div class="form-group">
            <label for="name">Nama</label>
            <input type="text" formControlName="name" id="name" class="form-control" required/>        
            <small class="form-text text-muted">Harus terisi, minimal 3 karakter</small>
        </div>
    
        <div *ngIf="f.name.errors"><!-- kalo ada error munculkan -->
            <!-- touched = maksudnya sudah tersentuh atau sudah fokus oleh kursor -->
            <div class="alert alert-danger" *ngIf="f.name.touched && f.name.errors.required">Nama harus terisi</div>
            <div class="alert alert-warning" *ngIf="f.name.touched && f.name.errors.minlength">Minimal 3 karakter</div>
        </div>
    
        <div class="form-group">
            <label for="institution">Institusi</label>
            <input type="text" id="institution" formControlName="institution" class="form-control"/>
            <small class="form-text text-muted">Harus terisi, minimal 10 hingga 500 karakter</small>
        </div>

        <div *ngIf="f.institution.errors"><!-- kalo ada error munculkan -->
            <div class="alert alert-warning" *ngIf="f.institution.touched && f.institution.errors.required">Institusi belum diisi</div>
            <div class="alert alert-warning" *ngIf="f.institution.touched && f.institution.errors.minlength">institusi minimal 10 karakter</div>      
            <div class="alert alert-warning" *ngIf="f.institution.touched && f.institution.errors.maxlength">institusi maksimal 100 karakter</div>      
        </div>    
    
        <div class="form-group">
            <label for="whatsapp">Whatsapp</label>
            <input type="text" id="whatsapp" formControlName="whatsapp" class="form-control" maxlength="15"/>
            <small class="form-text text-muted">minimal 7 hingga 15 karakter</small>
        </div>

        <div *ngIf="f.whatsapp.errors"><!-- kalo ada error munculkan -->
            <!-- touched = maksudnya sudah tersentuh atau sudah fokus oleh kursor -->
            <div class="alert alert-danger" *ngIf="f.whatsapp.touched && f.whatsapp.errors.required">Nomer harus terisi</div>
            <div class="alert alert-warning" *ngIf="f.whatsapp.touched && f.whatsapp.errors.minlength">Minimal 7 karakter</div>
            <div class="alert alert-warning" *ngIf="f.whatsapp.touched && f.whatsapp.errors.maxlength">Maksimal 15 karakter</div>
        </div>
    
        <div class="form-group">
            <label for="phone">Telepon</label>
            <input type="text" id="phone" formControlName="phone" class="form-control" maxlength="15"/>
            <small class="form-text text-muted">minimal 7 hingga 15 karakter</small>
        </div>        
    
        <div *ngIf="f.phone.errors"><!-- kalo ada error munculkan -->
            <!-- touched = maksudnya sudah tersentuh atau sudah fokus oleh kursor -->
            <div class="alert alert-danger" *ngIf="f.phone.touched && f.phone.errors.required">Nomer harus terisi</div>
            <div class="alert alert-warning" *ngIf="f.phone.touched && f.phone.errors.minlength">Minimal 7 karakter</div>
            <div class="alert alert-warning" *ngIf="f.phone.touched && f.phone.errors.maxlength">Maksimal 15 karakter</div>
        </div>
    
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" formControlName="email" class="form-control"/>
        </div>

        <div *ngIf="f.email.errors"><!-- kalo ada error munculkan -->
            <!-- touched = maksudnya sudah tersentuh atau sudah fokus oleh kursor -->
            <div class="alert alert-danger" *ngIf="f.email.touched && f.email.errors.required">Email harus terisi</div>
            <div class="alert alert-warning" *ngIf="f.email.touched && f.email.errors.email">Format email perlu diperhatikan</div>
        </div>
    
        <!-- kalo tombol submit (ngSubmit) pakenya, kalo button pake (click) --> 
        <button class="btn btn-primary" [disabled]="fg.invalid">Perbarui</button>&nbsp;    
        <button class="btn btn-warning" (click)="_list()">Batal</button>    
        
        <ngb-alert style="margin-top: 20px" *ngIf="info != null" type="success" (close)="info = null">
            {{ info }}
            <p style="margin-top: 20px"><button class="btn btn-info btn-sm" (click)="_list()">Selesai</button></p>
        </ngb-alert>
    </form>
</ng-container>

<ng-container *ngIf="mode==='list'"> 
    <!-- (click)="_list()" -->

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nama</th>
                <th scope="col">Institusi</th>
                <th scope="col">Kontak</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of output">
                <td scope="row">{{ item.name }} <br/> {{ item.email }} </td>
                <td>{{ item.institution }}</td>
                <td>{{ item.whatsapp }} <br/>{{ item.phone }} </td>
                <td>
                    <a href="javascript:void(0)" type="button" class="btn btn-primary btn-sm" (click)="_edit(item._id)" >Edit</a>&nbsp;
                    <a href="javascript:void(0)" type="button" class="btn btn-danger btn-sm" (click)="_confirm(item._id, item.name)" >Delete</a>
                </td>
            </tr>
        </tbody>        
    </table>
</ng-container>